<footer class="footer-area section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
            <ul class="social-icon">
              <li>
                <a class="github" href="https://github.com/thabo11-hub"><i class="icon-social-github"></i></a>
              </li>
              <li>
                <a class="linkedin" href="https://linkedin.com/in/thabo11-hub"><i class="icon-social-linkedin"></i></a>
              </li>
            </ul>
            <p>Copyright © 2022 All Right Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </footer>