.about-profile{
    position:relative;
    margin:20px 0 30px 0
}
.about-profile .pro-title{
    font-weight:700;
    color:#040404;
    position:relative;
    width:120px;
    display:inline-block;
    margin-bottom:5px
}
.about-profile .pro-title:after{
    position:absolute;
    content:':';
    color:#040404;
    font-size:14px;
    left:77px
}
.about-profile .admin-sign
{
    position:absolute;
    right:45px;bottom:10px
}

.section-titile-bg {
    display: inline;
    font-size: 115px;
    font-weight: 700;
    height: 100%;
    left: -173px;
    opacity: 0.1;
    position: absolute;
    top: -14px;
    width: 100%;
    text-align: center;
  }
  
  .section-title-header p {
    //text: center;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 36px;
  }

  .section-padding {
    padding: 60px 0;
  }  
  
  .section-title {
    color: #252525;
    font-size: 38px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 48px;
    padding: 0 10px;
    position: relative;
  }
  
  .btn {
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 0px;
    cursor: pointer;
    font-weight: 400;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: inline-block;
    margin: 10px 10px;
  }
  
  .btn:focus,
  .btn:active {
    box-shadow: none;
    outline: none;
    color: #fff;
  }
  
  .btn-common {
    background-color: #00b4d9;
    position: relative;
    z-index: 1;
    margin: 10px 10px;
  }
  
  .btn-common:hover {
    color: #fff;
    background-color: #21cff3;
    box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
  }
  
  .btn-danger:hover {
    background-color: #f55262;
    border-color: #f55262;
    box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
  }
  
  .btn-border {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
  }
  
  .btn-border:hover {
    border: 1px solid #fff;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .btn-lg {
    padding: 14px 33px;
    text-transform: uppercase;
    font-size: 16px;
  }
  
  .btn-rm {
    padding: 7px 10px;
    text-transform: capitalize;
  }
  
  button:focus {
    outline: none !important;
  }

  .img-fluid { max-width:100%;
    height:auto
  }

  
#about .img-thumb img {
  border: 8px solid #fff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.profile-wrapper {
  padding: 45px 0;
}

.profile-wrapper .btn {
  margin: 10px 10px 0px 0px;
}

.profile-wrapper .btn i {
  vertical-align: middle;
  margin-right: 5px;
}

.about-profile {
  position: relative;
  margin: 20px 0 20px 0;
}

.about-profile .pro-title {
  font-weight: 700;
  color: #040404;
  position: relative;
  width: 120px;
  display: inline-block;
  margin-bottom: 5px;
}

.about-profile .pro-title:after {
  position: absolute;
  content: ':';
  color: #040404;
  font-size: 14px;
  left: 77px;
}

.about-profile .admin-sign {
  position: absolute;
  right: 45px;
  bottom: 10px;
}

.counter-section {
  //background: url(../img/background/bg-1.jpg);
  overflow: hidden;
  position: relative;
}

.counter-section:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.counter-section .counter {
  padding: 30px 0;
}

.counter-section .counter .icon {
  margin-bottom: 30px;
}

.counter-section .counter .icon i {
  font-size: 48px;
  color: #00b4d9;
}

.counter-section .counter p {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 30px 0;
}

.counter-section .counter .counterUp {
  color: #fff;
  font-size: 42px;
  margin-top: 15px;
  font-weight: 700;
}